<p>I am a software engineer with 12+ years of experience in Java/J2EE technologies, 5 years full stack software engineer
    frontend (react)/ backend (java/node), I have worked with companies from various industries mainly health-care,
    banks and retail.
</p>
<p>
        Currently, I am interested on decentralized applications, based on React, Web3.js that interact with Solidity Smart Contracts 
        running on Ethereum, some aside projects of this can be found on my <a href="https://github.com/doncesarts">github account</a>.
</p>